/* USED IN VOUCHER CREATION PAGE */
#VoucherImageDiv{
	border:1px solid #DDD;
	border-radius:3px;
	height:150px;
}
/* USED IN PRODUCTS PAGE */
#sys_prod_name, #upd_Attr_name {
	border-bottom:1px solid #DDD !important;
}
/* USED IN PRODUCTS-ATTRIBUTES PAGE */
.xtraMarginBottom {
	margin-bottom:10px;
}
/* USED IN CUSTOMER-PRODUCT-DETAILS PAGE (CHECKOUT PAGE) */
.h5style {
	color: #666f7b !important;
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 10px 0 !important;
    font-weight: 700 !important;
}

/* Page Styles -- Start */
.xtraBottom {
	margin-bottom:20px;
}
.ng-isolate-scope ul{
	width:13em !important;
}
#loader:hover {
	background:none !important;
}
.upload_img {
	opacity:0;
	width:352px;
	height:100px;
	border:1px solid #CCC;
	background:#FFF;
	border-radius:3px;
	float:left;
}
#file{
	color:green;
	padding:5px;
	border:1px dashed #123456;
	background-color:#f9ffe5
}
#appendDiv {
	width: 18%;
	float: left;
	margin-right: 10px;
	border: 1px solid #dadada;
	background: url('../img/upload-icon-sm.png') no-repeat 65px;
	border-radius: 3px;
}
.abcd {
	width:230px;
}
.previewimg {
	width: 185px;
	height: 100px;
	float:left;
	padding: 2px;
	background: #FFF;
	border-radius: 3px;
}
div.panel {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
} 
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:3px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:3px solid #f00;
}
.header-title-sm {
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 12px;
	color: #313a46;
}

@media( max-width : 585px ) {
	.wizard {
		width: 90%;
		height: auto !important;
	}
	span.round-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.wizard .nav-tabs > li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
}

.panel-heading {
	color: #fff;
	background-color: #64c5b1;
	border-color: #64c5b1;
}
.card-box_new {
	padding: 15px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	background-clip: padding-box;
	margin-bottom: 20px;
	background-color: #ffffff;
}
.vouchertitle {
	position: absolute;
	left: 32%;
	font-size: 15px;
	FONT-WEIGHT: BOLD;
	MARGIN-TOP: -10PX;
}
#wrapper, .content-page, .content, .container {
	overflow:initial !important;
}

/* Page Styles -- End */




/* Wizard Styles - Start */
.wizard {
	margin: 20px auto;
	background: #fff;
}

.wizard .nav-tabs {
	position: relative;
	margin-bottom: 0;
	border-bottom: none !important;
}

.wizard > div.wizard-inner {
	position: relative;
}

.connecting-line {
	height: 2px;
	background: #e0e0e0;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

span.round-tab {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	background: #fff;
	border: 2px solid #e0e0e0;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
}
span.round-tab i{
	color:#555555;
}
.wizard li.active span.round-tab {
	background: #fff;
	border: 2px solid #5bc0de;
	
}
.wizard li.active span.round-tab i{
	color: #5bc0de;
}

span.round-tab:hover {
	color: #333;
	border: 2px solid #333;
}

.wizard .nav-tabs > li {
	width: 25%;
}

.wizard li:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #5bc0de;
	transition: 0.1s ease-in-out;
}

.wizard li.active:after {
	content: " ";
	position: absolute;
	left: 46%;
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
}

.wizard .nav-tabs > li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}

	.wizard .nav-tabs > li a:hover {
		background: transparent;
	}

.wizard .tab-pane {
	position: relative;
}

.wizard h3 {
	margin-top: 0;
}
/* Wizard Styles - End */

