@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Karla:700|Nunito+Sans:600,700');
/*
Template Name: Adminox Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Core
*/
/* =============
  == Core List==

   - Common
   - Helper classes
   - Extra
   - Bootstrap Custom
   - Waves effect
   - Print (Invoice css)
   - Demo Css (Demo purpose only)

============= */
/* =============
   Common
============= */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-bottom: 60px;
  overflow-x: hidden;
  color: #797979;
  font-size: 14px;
  background-color: #f1f1f1;
}
html {
  position: relative;
  min-height: 100%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666f7b;
  font-family: 'Nunito Sans', sans-serif;
  margin: 10px 0;
  font-weight: 700;
}
h5 {
  font-size: 15px;
}
p {
  line-height: 1.6;
}
* {
  outline: none !important;
}
b,
strong {
  font-family: 'Nunito Sans', sans-serif;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.container {
  width: auto;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* =============
   Helper classes
============= */
.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0 !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.center-page {
  float: none !important;
  margin: 0 auto !important;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
}
.font-secondary {
  font-family: 'Nunito Sans', sans-serif;
}
.font-600 {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: 300;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -20px;
  margin-right: -20px;
}
.b-0 {
  border: none !important;
}
.vertical-middle {
  vertical-align: middle !important;
}
.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.bx-shadow-none {
  box-shadow: none !important;
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 36px;
  width: 36px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.thumb-xl {
  height: 120px;
  width: 120px;
}
.bg-transparent {
  background-color: transparent !important;
}
.slimScrollDiv {
  height: auto !important;
}
/* =============
   Extras
============= */
/* Table type box */
.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}
/* Card Box */
.card-box {
  padding: 20px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}
/*Card Box - For Mobile */
@media only screen and (max-device-width: 500px) {
    .card-box-mobile-only {
  padding: 5px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
 }
}
@media only screen and (min-device-width: 767px) {
 .card-box-mobile-only {
  padding: 20px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
 }
}

/* =============
   Bootstrap-custom
============= */
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0;
}
.breadcrumb a {
  color: #98a6ad;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\f105";
  font-family: FontAwesome;
}
.media {
  margin-top: 25px;
}
/* Dropdown */
.dropdown-menu {
  padding: 4px 0;
  box-shadow: 0 1px 3px rgba(49, 58, 70, 0.2);
  border: 1px solid rgba(152, 166, 173, 0.15);
}
.dropdown-menu > li > a {
  padding: 7px 20px;
  font-size: 14px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #f3f3f3 !important;
  color: #313a46 !important;
}
.dropdown-lg {
  width: 260px;
}
/* Background colors */
.bg-custom {
  background-color: #64c5b1 !important;
}
.bg-primary {
  background-color: #4489e4 !important;
}
.bg-success {
  background-color: #32c861 !important;
}
.bg-info {
  background-color: #34d3eb !important;
}
.bg-warning {
  background-color: #ffa91c !important;
}
.bg-danger {
  background-color: #f96a74 !important;
}
.bg-muted {
  background-color: #797979 !important;
}
.bg-inverse {
  background-color: #36404c !important;
}
.bg-purple {
  background-color: #5553ce !important;
}
.bg-pink {
  background-color: #ec6794 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-dark {
  background-color: #313a46 !important;
}
/* Text colors */
.text-custom {
  color: #64c5b1 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-danger {
  color: #f96a74 !important;
}
.text-muted {
  color: #98a6ad !important;
}
.text-primary {
  color: #4489e4 !important;
}
.text-warning {
  color: #ffa91c !important;
}
.text-success {
  color: #32c861 !important;
}
.text-info {
  color: #34d3eb !important;
}
.text-inverse {
  color: #36404c !important;
}
.text-pink {
  color: #ec6794 !important;
}
.text-purple {
  color: #5553ce !important;
}
.text-dark {
  color: #313a46 !important;
}
/* Labels */
.label {
  padding: 0.3em .6em;
  font-family: 'Nunito Sans', sans-serif;
}
.label-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #313a46 !important;
}
.label-default {
  background-color: #64c5b1;
}
.label-primary {
  background-color: #4489e4;
}
.label-success {
  background-color: #32c861;
}
.label-info {
  background-color: #34d3eb;
}
.label-warning {
  background-color: #ffa91c;
}
.label-danger {
  background-color: #f96a74;
}
.label-purple {
  background-color: #5553ce;
}
.label-pink {
  background-color: #ec6794;
}
.label-inverse {
  background-color: #36404c;
}
.label-muted {
  background-color: #98a6ad;
}
/* Badge */
.badge {
  text-transform: uppercase;
  padding: 3px 5px;
  margin-top: 1px;
  background-color: #64c5b1;
  font-family: 'Nunito Sans', sans-serif;
}
.badge-xs {
  font-size: 9px;
}
.badge-xs,
.badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #313a46 !important;
}
.badge-primary {
  background-color: #4489e4;
}
.badge-success {
  background-color: #32c861;
}
.badge-info {
  background-color: #34d3eb;
}
.badge-warning {
  background-color: #ffa91c;
}
.badge-danger {
  background-color: #f96a74;
}
.badge-purple {
  background-color: #5553ce;
}
.badge-pink {
  background-color: #ec6794;
}
.badge-inverse {
  background-color: #36404c;
}
/* Pagination/ Pager */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination > li > a,
.pagination > li > span {
  color: #313a46;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #e2e2e2;
}
.pagination-split li {
  margin-left: 5px;
  display: inline-block;
  float: left;
}
.pagination-split li:first-child {
  margin-left: 0;
}
.pagination-split li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #64c5b1;
  border-color: #64c5b1;
}
.pager li > a,
.pager li > span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #313a46;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #64c5b1;
  border-color: #64c5b1;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: rgba(255, 255, 255, 0.7);
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-block {
  display: block;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4);
}
.waves-effect.waves-custom .waves-ripple {
  background-color: rgba(100, 197, 177, 0.4);
}
.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(68, 137, 228, 0.4);
}
.waves-effect.waves-success .waves-ripple {
  background-color: rgba(50, 200, 97, 0.4);
}
.waves-effect.waves-info .waves-ripple {
  background-color: rgba(52, 211, 235, 0.4);
}
.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(255, 169, 28, 0.4);
}
.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(249, 106, 116, 0.4);
}
.waves-effect.waves-pink .waves-ripple {
  background-color: rgba(236, 103, 148, 0.4);
}
.waves-effect.purple .waves-ripple {
  background-color: rgba(85, 83, 206, 0.2);
}
.waves-effect.waves-inverse .waves-ripple {
  background-color: rgba(54, 64, 76, 0.4);
}
/* =============
   Print css
============= */
@media print {
  .page-title-box,
  .topbar-left,
  .hidden-print,
  .breadcrumb,
  .page-title,
  .footer {
    display: none;
    margin: 0;
    padding: 0;
  }
  .left,
  .right-bar {
    display: none;
  }
  .content {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0;
    margin-top: 0;
  }
  .card-box,
  body {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
}
/* =============
   Demo Css
============= */
.demo-box {
  padding: 10px 15px;
}
/* Button demo */
.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}
.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}
/* Popover */
.demo-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
  z-index: 9;
}
/* Tooltips */
.demo-tooltip .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}
/* Grid page */
.grid-structure .grid-container {
  background-color: #f3f3f3;
  margin-bottom: 18px;
  padding: 12px 20px;
  font-family: 'Nunito Sans', sans-serif;
}
/* Demo Animation */
.demo-animation {
  text-align: center;
}
.demo-animation img {
  position: relative;
  width: 120px;
  display: block;
  margin: 0 auto 40px auto;
  z-index: 1;
  border-radius: 2px;
}
/* Demo only */
.icon-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.icon-list-demo div p {
  margin-bottom: 0;
  line-height: inherit;
}
.icon-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  color: rgba(49, 58, 70, 0.7);
  border-radius: 3px;
  display: inline-block;
  transition: all 0.2s;
}
.icon-list-demo [class^="pe-7s-"],
.icon-list-demo [class*=" pe-7s-"] {
  font-weight: 600;
}
.icon-list-demo .col-md-4 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 10px;
}
.icon-list-demo .col-md-4:hover i {
  color: #ffffff;
  background-color: #4489e4;
}
/* Switchery demo */
.switchery-demo {
  margin-bottom: -10px;
}
.switchery-demo .switchery {
  margin-bottom: 10px;
  margin-right: 5px;
}
/* Icon colored demo */
.icon-colored {
  height: 48px;
  width: 48px;
  margin: 2rem;
}
.icon-colored-lg {
  height: 64px;
  width: 64px;
  margin: 2.2rem;
}
