/* Popup */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
	overflow:hidden;
	
}
		
/* Inner */
.popup-inner {
	overflow-y:scroll;
	overflow-x:hidden;
	width:60%;
	height:98%;
	/*padding:40px;*/
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}
 
/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:20px;
	right:20px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}
 
.popup-close:hoverX {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}

/* Custom CSS - Related to Popup */
#chk { padding-top:0px; }

.popup>.popup-inner>#chk>img {
    max-width: 100%;
    max-height: 100%;
}
#previewLayout>img {
    max-width: 100%;
    max-height: 100%;
}
.previewCanvasImage{
	width:100%;
	border:1px solid #AAA;
}
