/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   /* z-index: 1;  Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	box-shadow:0 3px 9px rgba(0, 0, 0, .5);
	border-radius:3px;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
@media only screen and (max-device-width: 500px) {
    .modal-content {
		position: fixed;
		top:5%;
		left:4%;
		margin: auto;
		padding: 0;
		width: 90%;
	}
	.modal-body {
		padding:0px !important;
	}
}
@media only screen and (min-device-width: 767px) {
	.modal-content {
		position: relative;
		top:-5%;
		margin: auto;
		padding: 0;
		width: 90%;
	}
	.modal-body {
		padding:4px !important;
	}
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
/*
.close {
   position: absolute;
    top: 0px;
    right: 5px;
    width: 30px;
    height: 30px;
    padding-top: 0px;
    display: inline-block;
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 21px;
    text-align: center;
    line-height: 100%;
    color: #fff;
    border: 2px solid #ffffff;
    font-weight: bold;
    opacity: 1 !important;
	z-index:9999;
}
*/
.closed {
	display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.6);
    z-index: 1051;
    position: absolute;
    right: 0px;
    top: -45px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: background-color .3s ease-out;
    opacity: 1 !important;
    font-family: 'open sans',arial,sans-serif;
    font-weight: lighter !important;
    letter-spacing: 1px;
}
.closed:hover,
.closed:focus {
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
 opacity: 1 !important;
}
/* IFRAME CONTENT */
#iframeContent{
	width:100%;
	height:50%;
	height:85vh;
	border:none;
	border-radius:4px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
#myModal {
	z-index:9999999;
}






 ::-webkit-scrollbar {
    width: 12px !important;
 }

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }

/* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #41617D !important; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: #41617D !important; 
 }