

 /*(min-width: 301px) and (max-width: 399px)*/


@media (min-width: 301px) and (max-width: 399px) {

       .inputboxs{
		width: 100px;	
		margin-left:7px;
		}	

.Locations{
		width:100px;
		margin-left:7px;
	}		
		.Number{
			width: 58% !important;
		}
		
	.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: fit-content; 
			
		}
		.BookingCalendar{
			 margin-top:10px; 
			
		}
		
		
}


  /*(min-width: 401px) and (max-width: 499px)/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media (min-width: 401px) and (max-width: 499px) {
	
	.inputboxs{
		width: 100px;
		margin-left:7px;
		}
		
		.Locations{
		width:100px;
		margin-left:7px;
	}
		.Numbers{
			width: 58% !important;
		}
		.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: fit-content; 
			
		}
		.BookingCalendar{
			 margin-top:10px; 
			
		}
		
		
}


    /*(min-width: 701px) and (max-width: 799px)/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 501px) and (max-width: 699px) {
	
	.inputboxs{
		width: 100px;
		margin-left:7px;
		}
		
		.Locations{
		width:100px;
		margin-left:7px;
	}
		.Numbers{
			width: 58% !important;
		}
		.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: fit-content; 
			
		}
		.BookingCalendar{
			 margin-top:10px; 
			
		}
		
}
@media (min-width: 701px) and (max-width: 799px) {
	
	.inputboxs{
		width:100px;
margin-left:7px;		
		}	
		.Locations{
		width:100px;
		margin-left:7px;
	}
		
		.Numbers{
			width: 58% !important;
		}
		.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: fit-content; 
			
		}
		.BookingCalendar{
			 margin-top:10px; 
			
		}
		
}

@media (min-width: 801px) and (max-width: 999px) {
	
	.inputboxs{
		width:100px;
margin-left:7px;		
		}	
		.Locations{
		width:100px;
		margin-left:7px;
	}
		.Numbers{
			width: 58% !important;
		}
		.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: fit-content; 
			
		}
		.BookingCalendar{
			 margin-top:10px; 
			
		}
		
}



@media (min-width: 1001px) and (max-width: 1599px) { 

	.inputboxs{
		width:100px;
		margin-left:7px;
	}
	
	.Locations{
		width:147px;
		margin-left:7px;
	}
	
	.Numbers{
			width: 58% !important;
		}
	.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: 100% !important; 
			
		}
}
 /*(min-width: 1001px) and (max-width: 1999px)///////////////////////////////////////////////////////////////////////////////////////////////////////*/
 
 
@media (min-width: 1600px) and (max-width: 1999px) { 

	.inputboxs{
		width:100px;
		margin-left:7px;
	}
	.inputboxs{
		width:147px;
		margin-left:7px;
	}
	.Numbers{
			width: 58% !important;
		}
	.Timesheet01{
			 width: 20% !important; 
			
		}
		.Timesheet02{
			 width: 100% !important; 
			
		}
		
}

