.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top:17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCC;
  /* background-color: #2196F3; */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(27, 185, 154);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(27, 185, 154);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Default slider */
.default_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCC;
  -webkit-transition: .4s;
  transition: .4s;
}

.default_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .default_slider {
  background-color: rgb(27, 185, 154);
  /* background-color: #2196F3;  */
}

input:focus + .default_slider {
  box-shadow: 0 0 1px rgb(27, 185, 154);
  /* box-shadow: #2196F3; */
}

input:checked + .default_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.default_slider.round {
  border-radius: 34px;
}

.default_slider.round:before {
  border-radius: 50%;
}

.layoutToggleDiv {
	margin-top: -12px;
	font-weight: bold;
	font-size: 12px;
}